<div class="RTBholder">
  <div class="tools">
    <div class="toolBarTitle">Options</div>
    <!-- Separator -->
    <div class="tool x">
      <label for="test">X: </label>
      <input
        type="number"
        value="100"
        min="1"
        max="1000"
        #test
        id="inputX"
        (change)="setUserX()"
      />
    </div>
    <!-- Separator -->
    <div class="tool y">
      <label for="test">Y: </label>
      <input
        type="number"
        value="100"
        min="1"
        max="1000"
        id="inputY"
        (change)="setUserY()"
      />
    </div>
    <!-- Separator -->
    <div class="tool undo">
      <button mat-fab color="" (click)="clickOn('undo')" title="undo">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool redo">
      <button mat-fab color="" (click)="clickOn('redo')" title="redo">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool move">
      <button
        mat-fab
        color=""
        (click)="clickOn('move')"
        title="Move"
        [ngClass]="{
          clickedButton: this.getSharedService().getClickedButtons()[0] == true
        }"
      >
        <mat-icon>drag_indicator</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool resize">
      <button
        mat-fab
        color=""
        (click)="clickOn('resize')"
        title="Resize"
        [ngClass]="{
          clickedButton: this.getSharedService().getClickedButtons()[1] == true
        }"
      >
        <mat-icon>aspect_ratio</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool copy">
      <button
        mat-fab
        color=""
        (click)="clickOn('copy')"
        title="Copy"
        [ngClass]="{
          clickedButton: this.getSharedService().getClickedButtons()[2] == true
        }"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool clear">
      <button mat-fab color="" (click)="clickOn('clear')" title="Clear">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool eraser">
      <button
        mat-fab
        color=""
        (click)="clickOn('eraser')"
        title="Eraser"
        [ngClass]="{
          clickedButton: this.getSharedService().getClickedButtons()[3] == true
        }"
      >
        <mat-icon>auto_fix_off</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="tool brush">
      <button
        mat-fab
        color=""
        title="Brush"
        (click)="clickOn('brush')"
        [ngClass]="{
          clickedButton: this.getSharedService().getClickedButtons()[4] == true
        }"
      >
        <mat-icon>brush</mat-icon>
      </button>
    </div>
    <!-- Separator -->
    <div class="brushWidth">
      <mat-slider
        discrete
        type="range"
        value="5"
        color=""
        #tempBrush
        (change)="changeBrushWidth(tempBrush.value)"
      >
        <input matSliderThumb />
      </mat-slider>
    </div>
    <!-- Separator -->
    <div class="colorsTitle">Color Picker</div>
    <!-- Separator -->
    <div class="colors">
      <input
        type="color"
        value="#000080"
        id="colorPicker"
        #tempCol
        (change)="changeColorValue(tempCol.value)"
      />
    </div>
  </div>
</div>
