<div class="optionsRightHolder">
  <div class="options">
    <div class="option A">
      <button mat-raised-button (click)="clickOn('undo')">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
    <div class="option B">
      <button mat-raised-button (click)="clickOn('redo')">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <div class="option C">
      <button mat-raised-button (click)="clickOn('save')">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div class="option D">
      <button mat-raised-button (click)="clickOn('load')">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  </div>
</div>
