<div class="LTBholder">
  <div class="tools">
    <div class="toolBarTitle">Shapes</div>
    <div class="tool A">
      <button (click)="clickOn('rectangle')" mat-fab color="">
        <mat-icon>crop_5_4</mat-icon>
      </button>
    </div>
    <div class="tool B">
      <button (click)="clickOn('square')" mat-fab color="">
        <mat-icon>crop_square</mat-icon>
      </button>
    </div>
    <div class="tool C">
      <button (click)="clickOn('line')" mat-fab color="">
        <mat-icon>shape_line</mat-icon>
      </button>
    </div>
    <div class="tool D">
      <button (click)="clickOn('triangle')" mat-fab color="">
        <mat-icon>change_history</mat-icon>
      </button>
    </div>
    <div class="tool E">
      <button (click)="clickOn('circle')" mat-fab color="">
        <mat-icon>panorama_fish_eye</mat-icon>
      </button>
    </div>
    <div class="tool F">
      <button (click)="clickOn('pentagon')" mat-fab color="">
        <mat-icon>pentagon</mat-icon>
      </button>
    </div>
    <div class="tool G">
      <button (click)="clickOn('hexagon')" mat-fab color="">
        <mat-icon>hexagon</mat-icon>
      </button>
    </div>
    <div class="tool H">
      <button (click)="clickOn('ellipse')" mat-fab color="">
        <mat-icon></mat-icon>
      </button>
    </div>
    <div class="tool I">
      <button (click)="clickOn('cursor')" mat-fab color="">
        <mat-icon>ads_click</mat-icon>
      </button>
    </div>
    <div class="tool K">
      <button (click)="clickOn('colorFill')" mat-fab color="">
        <mat-icon>format_color_fill</mat-icon>
      </button>
    </div>
  </div>
</div>
